<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full flex flex-col items-center justify-center gap-5">
    <div class="flex items-center justify-center gap-5">
        <igx-icon family="material" class="text-5xl text-red-600 animate-pulse">warning</igx-icon>
        <h3 class="m-0 animate-pulse">Eita... parece que o que você está procurando não está aqui :/</h3>
    </div>
    <h5 class="m-0 animate-pulse">404 página não encontrada!</h5>
    <button igxButton="outlined" igxRipple [routerLink]="['/packs/list']">Voltar</button>
</div>