<div class="relative">
    <div class="absolute -top-3 -right-3">
        <button igxIconButton="contained" class="bg-white">
            {{ pack.cards.length }}
        </button>
    </div>
    <div class="absolute top-8 -right-3">
        <button igxIconButton="contained" class="bg-red-600 hover:bg-red-400"
            (click)="deleteWarning.open()">
            <igx-icon class="text-white" family="material">delete</igx-icon>
        </button>
    </div>
    <div class="absolute top-20 -right-3">
        <button igxIconButton="contained" class="bg-blue-600 hover:bg-blue-400"
            (click)="setSelectedPack()">
            <igx-icon class="text-white" family="material">edit_square</igx-icon>
        </button>
    </div>
    <igx-card [horizontal]="true" class="grid grid-cols-1 lg:grid-cols-2 bg-zinc-900">
        <igx-card-header class="lg:col-span-2">
            <div class="grid grid-cols-1 gap-5 lg:grid-cols-2">
                <igx-card-media>
                    <img [src]="firstCardImageOfMainType" loading="lazy">
                </igx-card-media>
                <section class="flex flex-col justify-between">
                    <div>
                        <h3 class="text-white" igxCardHeaderTitle># {{ pack.id }}</h3>
                        <h5 class="text-white" igxCardHeaderSubtitle>{{ pack.name }}</h5>
                    </div>
                    <div>
                        <p class="font-bold m-0 text-white">Tipo principal</p>
                        <div class="flex">
                            <igx-chip [removable]="false" [selectable]="false" [ngClass]="mainType.toLowerCase()">{{ mainType }}</igx-chip>
                        </div>
                    </div>
                </section>
            </div>
        </igx-card-header>
        <igx-card-content class="grid grid-cols-1 gap-1 lg:gap-3 lg:grid-cols-2 lg:col-span-2 text-white">
            <p><b>Criado em: </b>{{ pack.createdAt | date: 'd/M/Y HH:mm:ss' }}</p>
            @if(pack.updatedAt) {
                <p><b>Atualizado em:</b>{{ pack.updatedAt | date: 'd/M/Y HH:mm:ss' }}</p>
            }
        </igx-card-content>
        <igx-card-actions class="lg:col-span-2 flex-row" layout="justify">
            <button class="w-full" igxStart igxButton="contained" igxRipple (click)="packDetails.open()">
                Ver detalhes
                <igx-icon family="material">receipt_long</igx-icon>
            </button>
        </igx-card-actions>
    </igx-card>

    <igx-dialog #packDetails [closeOnOutsideSelect]="true"
        title="Detalhes do baralho">
        <div class="flex flex-col">
            <section>
                <p class="m-0 font-bold text-xl">Cores (types)</p>
                <div class="flex flex-row gap-3 mt-3 flex-wrap max-w-[400px]">
                    @for (type of packTypes; track $index) {
                        <igx-chip [selectable]="false" [removable]="false" class="hover:bg-transparent" [ngClass]="type.name.toLowerCase()">{{ type.name + ' (' + type.quantity + ')' }}</igx-chip>
                    }
                </div>
            </section>
            <section class="mt-3">
                <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
                    <div>
                        <p class="m-0 font-bold text-xl">Pokémons</p>
                        <p class="m-0">{{ pokemonQuantity }}</p>
                    </div>
                    <div>
                        <p class="m-0 font-bold text-xl">Treinadores</p>
                        <p class="m-0">{{ trainerQuantity }}</p>
                    </div>
                </div>
            </section>
            <footer igxDialogActions>
                <button class="bg-red-600 hover:bg-red-400" igxRipple igxButton="contained" (click)="packDetails.close()">Fechar</button>
            </footer>
        </div>
    </igx-dialog>

    <igx-dialog #deleteWarning
        [closeOnEscape]="false"
        [closeOnOutsideSelect]="false"
        title="Aviso"
        message="Deseja realmente excluir este baralho?">
        <footer igxDialogActions>
            <button class="bg-red-600 hover:bg-red-400" igxRipple igxButton="contained" (click)="deleteWarning.close()">Não</button>
            <button igxRipple igxButton="contained" (click)="deletePack(); deleteWarning.close()">Sim</button>
        </footer>
    </igx-dialog>
</div>
