<div>
    <h3>Seus baralhos</h3>
    <h5>crie e personalize seus próprios baralhos com seus pokemons favoritos!</h5>
    <div class="mt-5">
        <button igxButton="contained" igxRipple (click)="goToCreatePackPage()">
            Novo baralho
            <igx-icon family="material">add</igx-icon>
        </button>
    </div>

    <div class="grid grid-cols-1 gap-5 mt-5 lg:grid-cols-5">
        @for (item of (packList$ | async); track item.id) {
            <app-pack-list-item [pack]="item"></app-pack-list-item>
        }
    </div>


</div>