<div igxLayout>
  <igx-nav-drawer id="navigation" #drawer [pinThreshold]="50000" [isOpen]="true">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Pokepacks</span>
        @for (page of pages; track $index) {
          <span igxDrawerItem [active]="activePage === page.title" (click)="navigate(page)">
            <span>{{ page.title }}</span>
          </span>
        }
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main style="flex-grow: 1;">
    <span igxIconButton="flat" (click)="drawer.toggle()">
      <igx-icon family="material">menu</igx-icon>
    </span>
    <router-outlet></router-outlet>
  </main>
</div>


